{% extends "admin/base_site.html" %}
{% load static %}

{% block title %}Upload Newsletter Images{% endblock %}

{% block content %}
<div class="module">
    <h1>Upload Newsletter Images (up to 5)</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div style="margin:15px 0;">
            <input type="file" name="images" multiple accept="image/*" />
        </div>

        <div class="submit-row">
            <input type="submit" value="Upload" class="default" />
            <a class="button" href="{% url 'admin:newsletter_newsletterimage_changelist' %}">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
