<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Welcome to Meek Technology</title>
</head>

<body style="margin:0;padding:0;background:#f4f7fb;font-family:Arial,Helvetica,sans-serif;">

    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
        <td align="center">

            <table width="100%" cellpadding="0" cellspacing="0" style="background:#ffffff;margin-top:30px;border-radius:8px;overflow:hidden">

            <!-- HEADER -->
            <tr>
                <!-- <td style="background:#0b1f3a;padding:20px;text-align:center">
                <img src="https://meektechnology.pythonanywhere.com/static/images/logo2.png" 
                    alt="Meek Technology"
                    style="height:60px;">
                </td> -->
                <td style="background:#b2cbf5;padding:20px;text-align:center">
                <img src="https://meektechnology.pythonanywhere.com/static/images/logo.png" 
                    alt="Meek Technology"
                    style="height:60px;">
                </td>
            </tr>

            <!-- BODY -->
            <tr>
                <td style="padding:30px">

                <h2 style="margin:0 0 15px 0;color:#0b1f3a">
                    Welcome to Meek Technology
                </h2>

                <p style="color:#333;font-size:15px;line-height:1.6">
                    Thanks for subscribing to our newsletter! You're now part of the Meek Technology community.
                </p>

                <p style="color:#333;font-size:15px;line-height:1.6">
                    Expect updates on:
                </p>

                <ul style="color:#333;font-size:15px;line-height:1.6">
                    <li>Software & product launches</li>
                    <li>Engineering insights</li>
                    <li>Automation & digital transformation</li>
                    <li>Company updates</li>
                    <li>Tech tutorials</li>
                </ul>

                <p style="margin-top:25px;color:#333;font-size:15px">
                    <strong><em>Warm regards,</em></strong><br>
                    Meek Technology Team
                </p>

                </td>
            </tr>

            <!-- FOOTER -->
            <tr>
                <tr>
                    <td style="background:#f1f5f9;padding:20px;text-align:center;font-size:12px;color:#666">
                        © {% now "Y" %} Meek Technology. All rights reserved.
                    </td>
                </tr>
            </table>

        </td>
        </tr>
    </table>

</body>
</html>
